---
import IndexBackground from '../components/Index/Index_Background.astro';
import NavBar from '../components/Index/Nav_Bar.astro';
import Title from '../components/Index/Index_Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<NavBar />
	<Title />
	<div id="background" >
		<IndexBackground />
	</div>
	<div id="footer">
		<NavBar borderIsTop={true} />
	</div>
</Layout>

<style>
	#background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -300;
		width: 100vw;
		height: 100vh;
	}

	#footer {
		position: absolute;
		bottom: 0;
		left: 0;
	}
</style>