---
const { borderIsTop = false } = Astro.props;
---

<div id="nav-bar" class={borderIsTop ? "border-top" : "border-bot"}>
    <slot />
</div>

<style>
    :root{
        --color-nav-bar: #11151F;
        --color-border: #42B7A3;
        --color-nav-bar-text: #596d6a;
        --color-nav-bar-text-hover: #BBD7E7;
        --nav-bar-height: 65px;
        --nav-bar-border-size: 1px;
    }

    #nav-bar{
        width: 100vw;
        height: var(--nav-bar-height);
        background: var(--color-nav-bar);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .border-bot{
        border-bottom: var(--nav-bar-border-size) solid var(--color-border);
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.8);
    }

    .border-top{
        border-top: var(--nav-bar-border-size) solid var(--color-border);
        box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.8);
    }
</style>